{% extends "layout.html" %}
{% block body %}
  <h1>Global ABE Attributes Update Status</h1><br/>
  {% if updated %}
    <h3>Global ABE Attributes <strong>successfully</strong> updated!</h3>
  {% else %}
    <h3>Global ABE Attributes <strong>not</strong> updated. Current version matches latest.</h3>
  {% endif %}
  {% if gaaj %}
    <p>
      <strong>Current Global ABE Attributes:</strong>
      <textarea readonly type="text" class="form-control" name="abe_attrs" id="abe_attrs" rows="6">{{ gaaj }}</textarea>
    </p>
    {% if gaau %}
      <p>
        <strong>Last updated:</strong>
        <input readonly type="text" class="form-control" name="updated" value="{{ gaau }}"style="width: 40%;"><br />
      </p>
    {% endif %}
    <a href="/abe/latest_attributes_file" class="btn btn-outline-info">Download current Global ABE Attributes!</a>
  {% endif %}
{% endblock %}
