{% extends "layout.html" %}
{% block body %}
  <h1>Encrypt & Upload new File</h1>
  <form method="post" enctype="multipart/form-data">
    <label for="file">File:</label>
    <input type="file" name="file" id="file"><br/>
    <label for="author">Author:</label>
    <input type="text" name="author"><br />
    <label for="policy">Policy (<em>((enrolled_course:2001 and enrolled_course:2005 and male) or (enrolled_course:2003 and enrolled_course:2007 and enrolled_course:2013 and female)) and student</em>):</label><br/>
    <textarea type="text" name="policy" id="policy" rows="4" cols="50">
    </textarea><br/>
    <input type="submit" value="Upload">
  </form>
{% endblock %}
