{% extends "layout.html" %}
{% block body %}
  {% if user_attrs %}
    <h1>Extracted User Attributes</h1><br />
    <textarea readonly type="text" class="form-control" name="attrs" id="attrs" rows="6">{{ user_attrs }}</textarea>
  {% else %}
    <h1>Extract User Attributes from User Key</h1><br />
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="user_key_label">Select a User Key file (<em>.key</em>):</label><br />
        <label class="btn btn-outline-info" id="user_key_label">
          <input type="file" class="form-control-file" name="user_key" id="user_key" style="display: none;"/>
          Choose User Key
        </label>
        <span id="key-selected"></span>
      </div><br />
      <button type="submit" class="btn btn-outline-primary">Extract</button>
    </form>
    <script type="text/javascript">
      $('#user_key').bind('change',
        function() {
          var filePath, fileName = '';
          filePath = $(this).val().split("\\");
          fileName = filePath[filePath.length -1];
          $('#key-selected').html(fileName);
        });
    </script>
  {% endif %}
{% endblock %}
