{% extends "layout.html" %}
{% block body %}
  <h1>Welcome to the Client Resource Server</h1><br />
  {% if current_user.is_authenticated %}
    <a href="logout" class="btn btn-outline-dark">Logout</a>
  {% else %}
    <a href="login" class="btn btn-outline-primary">Login</a>
  {% endif %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="register" class="btn btn-outline-success">Register new account</a><br /><br /><br />
  <a href="upload">Head to the upload page</a><br/>
  <a href="encrypt_upload">Head to the encrypt & upload page</a><br/>
  <a href="encrypt">Head to the encrypt page</a><br/>
  <a href="decrypt">Head to the decrypt page</a><br/>
  <a href="abe/check_mpk_updated">Check for update to Master Public Key</a><br/>
  <a href="abe/latest_mpk_json">Get the latest Master Public Key JSON</a><br/>
  <a href="abe/latest_mpk_file">Get the latest Master Public Key file</a><br/>
  <a href="abe/check_attributes_updated">Check for update to attributes</a><br/>
  <a href="abe/latest_attributes_json">Get the latest attributes JSON</a><br/>
  <a href="abe/latest_attributes_file">Get the latest attributes file</a><br/>
  <a href="all_filenames">Get available files</a><br/>
  <a href="files/search">Search for available files</a><br/>
  <a href="files/fuzzy_search">Fuzzy search for available files</a><br/>
  <a href="extract_policy">Extract policy from CPABE file</a><br/>
  <a href="extract_user_attrs">Extract user attributes from User Key</a><br/>
{% endblock %}
{% block footer %}
  Created by Chris Watson (<a href="https://github.com/2190594W/l4-project-research">2190594w</a>)
{% endblock %}
