{% extends "layout.html" %}
{% block body %}
  <h1>Welcome to the Client Resource Server</h1>
  <a href="upload">Head to the upload page</a><br/>
  <a href="encrypt_upload">Head to the encrypt & upload page</a><br/>
  <a href="encrypt">Head to the encrypt page</a><br/>
  <a href="decrypt">Head to the decrypt page</a><br/>
  <a href="abe/check_mpk_updated">Check for update to Master Public Key</a><br/>
  <a href="abe/latest_mpk_json">Get the latest Master Public Key JSON</a><br/>
  <a href="abe/latest_mpk_file">Get the latest Master Public Key file</a><br/>
  <a href="abe/check_attributes_updated">Check for update to attributes</a><br/>
  <a href="abe/latest_attributes_json">Get the latest attributes JSON</a><br/>
  <a href="abe/latest_attributes_file">Get the latest attributes file</a><br/>
  <a href="all_filenames">Get available files</a>
  <a href="search_files">Search for available files</a>
  <a href="fuzzy_search_files">Fuzzy search for available files</a>
  <a href="extract_policy">Extract policy from CPABE file</a>
  <a href="extract_user_attrs">Extract user attributes from User Key</a>
{% endblock %}
