{% extends "layout.html" %}
{% block body %}
  <h1>Master Public Key Update Staus</h1><br/>
  {% if updated %}
    <h3>Master Public Key <strong>successfully</strong> updated!</h3>
  {% else %}
    <h3>Master Public Key <strong>not</strong> updated. Current version matches latest.</h3>
  {% endif %}<br />
  {% if mpk %}
    <p>
      <strong>Current MPK:</strong>
      <textarea readonly type="text" class="form-control" name="public_key" id="public_key" rows="6">{{ mpk }}</textarea>
    </p>
    {% if mku %}
      <p>
        <strong>Last updated:</strong>
        <input readonly type="text" class="form-control" name="updated" value="{{ mku }}"style="width: 40%;"><br />
      </p>
    {% endif %}
    <a href="/abe/latest_mpk_file" class="btn btn-outline-info">Download current MPK!</a>
  {% endif %}
{% endblock %}
