{% if global_attrs %}
  <table id="policyBuilderTable" class="table table-striped order-list">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bracket</th>
        <th scope="col">Attribute Type</th>
        <th scope="col">Attribute Name</th>
        <th scope="col">Logic</th>
        <th scope="col">Attribute Value</th>
        <th scope="col">Bracket</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td scope="row" style="width: 10px;">
          <div class="input-group">
            <select class="custom-select parenO" name="parenO1" id="parenO1">
              <option selected value="">-</option>
              <option value="(">(</option>
            </select>
          </div>
        </td>
        <td scope="row">
          <div class="input-group">
            <select required class="custom-select attrType" name="attrType1" id="attrType1">
              <option selected value="">Choose...</option>
              {% for type in global_attrs %}
                <option value="{{ type|title }}">{{ type|title }}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td scope="row">
          <div class="input-group">
            <select required disabled class="custom-select attrName" name="attrName1" id="attrName1">
              <option selected value="">Choose...</option>
            </select>
          </div>
        </td>
        <td scope="row">
          <div class="input-group">
            <select required disabled class="custom-select logicOperator" name="logicOperator1" id="logicOperator1">
              <option selected value="=">=</option>
              <option value=">">></option>
              <option value="<"><</option>
              <option value=">=">>=</option>
              <option value="<="><=</option>
            </select>
          </div>
        </td>
        <td scope="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text attrValueLabel" name="attrValueLabel1" id="attrValueLabel1">Value</span>
            </div>
            <input required readonly type="text" class="form-control attrValue" placeholder="John Doe" aria-label="Value" aria-describedby="attrValueLabel1" value="">
          </div>
        </td>
        <td scope="row"  style="width: 10px;">
          <div class="input-group">
            <select class="custom-select parenC" name="parenC1" id="parenC1">
              <option selected value="">-</option>
              <option value=")">)</option>
            </select>
          </div>
        </td>
        <td colspan="1" scope="row"><button disabled type="button" class="ibtnDel btn btn-outline-danger deleteRow" style="opacity: 0;">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" scope="row" style="text-align: center;">
            <button type="button" class="btn btn-outline-success" id="addrow" style="width: 50%;">Add Row</button>
        </td>
      </tr>
      <tr>
      </tr>
    </tfoot>
  </table>

  <br />
  <button type="button" class="btn btn-outline-info" id="calcPolicy">Calculate Policy</button>
  <br />

  <div class="form-group calc-policy-div" style="display: none;">
    <br /><br />
    <label for="policy">Generated Policy:</label>
    <textarea readonly type="text" class="form-control" name="policy" id="calc-policy-ta" rows="6"></textarea>
  </div>

  <br />

  <script type="text/javascript">
    var attrs_dict = {};
    $(document).ready(function () {
      var counter = 2;
      var attrTypeToInputType = {
        "Arrays": "text",
        "Dates": "date",
        "Flags": "text",
        "Integers": "number",
        "Strings": "text"
      };
      var attrTypeToToolTip = {
        "Arrays": ["List", "Example1,Example2,Example3,Example4,..."],
        "Dates": ["Date", "24/07/2015"],
        "Flags": ["Boolean", "True"],
        "Integers": ["Number", "2005"],
        "Strings": ["Text", "John Doe"]
      };

      {% for type, values in global_attrs.items() %}
        {% for value in values %}
          {% if loop.first %}
            attrs_dict.{{ type|title }} = ["{{ value }}"];
          {% else %}
            attrs_dict.{{ type|title }}.push("{{ value }}");
          {% endif %}
        {% endfor  %}
      {% endfor %}

      $("#addrow").on("click", function () {
        var newLogic = $("<tr>");
        var newAttr = $("<tr>");
        var logicCols = "";
        var attrCols = "";

        logicCols += '<th scope="row"></th>';
        logicCols += '<td scope="row"></td>';
        logicCols += '<td scope="row"></td>';
        logicCols += '<td scope="row"></td>';
        logicCols += `
          <td scope="row">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="attrLogic${counter - 1}">Logic</label>
              </div>
              <select required class="custom-select attrLogic" name="attrLogic${counter - 1}" id="attrLogic${counter - 1}">
                <option selected value="">Choose...</option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
              </select>
            </div>
          </td>
        `;
        logicCols += '<td scope="row"></td>';
        logicCols += '<td scope="row"></td>';

        attrCols += '<th scope="row">' + counter + '</th>';
        attrCols += `
          <td scope="row" style="width: 15px;">
            <div class="input-group">
              <select class="custom-select parenO" name="parenO$(counter)" id="parenO$(counter)">
                <option selected value="">-</option>
                <option value="(">(</option>
              </select>
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row">
            <div class="input-group">
              <select required class="custom-select attrType" name="attrType${counter}" id="attrType${counter}">
                <option selected value="">Choose...</option>
                {% for type in global_attrs %}
                  <option value="{{ type|title }}">{{ type|title }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row">
            <div class="input-group">
              <select required disabled class="custom-select attrName" name="attrName${counter}" id="attrName${counter}">
                <option selected value="">Choose...</option>
              </select>
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row">
            <div class="input-group">
              <select required disabled class="custom-select logicOperator" name="logicOperator${counter}" id="logicOperator${counter}">
                <option selected value="=">=</option>
                <option value=">">></option>
                <option value="<"><</option>
                <option value=">=">>=</option>
                <option value="<="><=</option>
              </select>
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text attrValueLabel" name="attrValueLabel${counter}" id="attrValueLabel${counter}">Value</span>
              </div>
              <input required readonly type="text" class="form-control attrValue" placeholder="John Doe" aria-label="Value" aria-describedby="attrValueLabel${counter}" value="">
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row" style="width: 15px;">
            <div class="input-group">
              <select class="custom-select parenC" name="parenC$(counter)" id="parenC$(counter)">
                <option selected value="">-</option>
                <option value=")">)</option>
              </select>
            </div>
          </td>
        `;
        attrCols += `
          <td scope="row">
            <button type="button" class="ibtnDel btn btn-outline-danger">Delete</button>
          </td>
        `;

        newLogic.append(logicCols);
        newLogic.append("</tr>");
        newAttr.append(attrCols);
        newAttr.append("</tr>")
        $("table.order-list").append(newLogic);
        $("table.order-list").append(newAttr);
        counter++;
      });



      $("table.order-list").on("click", ".ibtnDel", function (event) {
          $(this).closest("tr").prev().remove();
          $(this).closest("tr").remove();
          counter -= 1
      });

      $("table.order-list").on("change", ".attrType", function (event) {
        var val = $(this).val();
        var attrName = $(this).closest('td').next().find("select.attrName");
        var attrOptions = "<option selected>Choose...</option>";
        if (val in attrs_dict) {
          var attrNames = attrs_dict[val];
          var attrNamesLen = attrNames.length;
          for (var i = 0; i < attrNamesLen; i++) {
            attrOptions = attrOptions.concat(`<option>${attrNames[i]}</option>`);
          }
          attrName.prop('disabled', false);
        } else {
          attrName.prop('disabled', true);
          attrName.val("Choose...");
        }
        $(this).closest('td').next().next().find("select.logicOperator").prop('disabled', true);
        $(this).closest('td').next().next().next().find("input.attrValue").prop('readonly', true);
        attrName.html(attrOptions);
      });

      $("table.order-list").on("change", ".attrName", function (event) {
        var val = $(this).val();
        var logicOperatorCell = $(this).closest('td').next();
        var attrValueCell = $(this).closest('td').next().next();
        var logicOperator = logicOperatorCell.find("select.logicOperator");
        var attrValue = attrValueCell.find("input.attrValue");
        if (val != "Choose...") {
          var attrValueLabel = attrValueCell.find(".attrValueLabel");
          attrType = $(this).closest('td').prev().find("select.attrType").val();
          attrValue.attr('type', attrTypeToInputType[attrType]);
          attrValueLabel.html(attrTypeToToolTip[attrType][0]);
          attrValue.attr('placeholder', attrTypeToToolTip[attrType][1]);
          logicOperator.val('=');
          if (["Arrays", "Strings"].includes(attrType)) {
            logicOperator.prop('disabled', true);
            attrValue.prop('readonly', false);
          } else if (attrType != "Flags") {
            logicOperator.prop('disabled', false);
            attrValue.prop('readonly', false);
          } else {
            logicOperator.prop('disabled', true);
            attrValue.prop('readonly', true);
          }
        } else {
          attrValue.prop('readonly', true);
        }
      });

      $("#calcPolicy").on("click", function () {
        var validForm = true;
        $('input,select').filter('[required]:visible').each(function() {
          var valid = $(this)[0].checkValidity();
          if (!valid) {
            $(this)[0].reportValidity();
            validForm = false;
            return;
          }
        });
        if (!validForm) {
          $(".calc-policy-div").css("display", "none");
          return;
        }
        var tableRows = $('#policyBuilderTable tbody tr');
        var tableLen = tableRows.length;
        var policy = "";
        var extracted;
        for (var i = 0; i < tableLen; i+=2) {
          extracted = [];
          var attrRow = tableRows[i];
          var logicRow = tableRows[i+1];
          extracted.push($(attrRow).find(".parenO").val());
          extracted.push($(attrRow).find(".attrType").val());
          extracted.push($(attrRow).find(".attrName").val());
          extracted.push($(attrRow).find(".logicOperator").val());
          extracted.push($(attrRow).find(".attrValue").val());
          extracted.push($(attrRow).find(".parenC").val());
          if (i < tableLen) {
            extracted.push($(logicRow).find(".attrLogic").val());
          } else {
            extracted.push("");
          }
          policy += extracted[0];
          if (extracted[1] == "Arrays") {
            policy += "(";
            var attrArray = extracted[4].replace(/ /g,'').split(",");
            if (attrArray.length > 0) {
              for (var j = 0; j < attrArray.length; j++) {
                policy += extracted[2] + ":" + attrArray[j];
                if (j < attrArray.length - 1) {
                  policy += " and ";
                }
              }
            } else {
              $(attrRow).find(".attrValue")[0].reportValidity();
            }
            policy += ")";
          } else if (extracted[1] == "Flags") {
            policy += extracted[2];
          } else if (extracted[1] == "Strings") {
            policy += extracted[2] + ":" + extracted[4];
          } else if (extracted[1] == "Dates") {
            var attrDate = new Date(extracted[4]);
            var options = { year: 'numeric', month: 'long', day: 'numeric' };
            var attrDateStr = attrDate.toLocaleDateString("en-US", options);
            policy += extracted[2] + " " + extracted[3] + " " + attrDateStr;
          } else {
            policy += extracted[2] + " " + extracted[3] + " " + extracted[4];
          }
          policy += extracted[5];
          if (extracted[6]) {
            policy += " " + extracted[6].toLowerCase() + " ";
          }
        }
        $("#calc-policy-ta").html(policy);
        $(".calc-policy-div").css("display", "block");
      });


    });
  </script>
{% else %}
  <div class="form-group">
    <label for="policy">Policy:</label>
    <textarea type="text" class="form-control" name="policy" id="policy" rows="6" placeholder="((enrolled_course:2001 and enrolled_course:2005 and male) or (enrolled_course:2003 and enrolled_course:2007 and enrolled_course:2013 and female)) and student"></textarea>
  </div><br />
{% endif %}
