{% extends "layout.html" %}
{% block body %}
  <h1>Register a <strong>new</strong> Account</h1>
  <form method="post" enctype="multipart/form-data">
    {% if username %}
      <label for="username">Username:</label>
      <input type="text" name="username" value="{{ username }}"><br />
    {% else %}
      <label for="username">Username:</label>
      <input type="text" name="username"><br />
    {% endif %}
    <label for="passwd">Password:</label>
    <input type="password" name="passwd"><br />
    <label for="confirm_passwd">Confirm Password:</label>
    <input type="password" name="confirm_passwd"><br />
    <label for="user_key">User Key:</label>
    <input type="file" name="user_key"><br />
    <input type="submit" value="Register">
  </form>
{% endblock %}
